<div class="myxblock_block">
    <p class="info"></p>
    {% if container == None %}
    <iframe class="iframe" style="width:100%; height:500px; border: 1px solid black;" src="" ></iframe>
    <br><button class="create-lab">Start Lab!</button>
    <button class="stop-lab">Stop Lab!</button>
    <div class="placeholderSqli" style="display:none">
        <br>
        <button class="accordion">Web & PhpMyAdmin Access</button>
        <div class="panel">
            <p>Anda dapat mengakses web app SQLi dan PhpMyAdmin pada link berikut:</p>
            <p id="webAccess"><a href="" target="_blank">Web App</a></p>
            <p id="phpAccess"><a href="" target="_blank">PhpMyAdmin</a></p>
        </div>
        <button class="accordion">SSH Access to defender (web app)</button>
        <div class="panel">
            <p>Anda dapat SSH ke server web dengan perintah berikut dengan password "password":</p>
            <p class="code" id="sshAccess">$ ssh defender@{{self.ssh_ip}}</p>
        </div>
        <button class="accordion">DB Configuration</button>
        <div class="panel">
            <p>Anda dapat mengganti konfigurasi DB pada file /var/www/html/config.php dengan:</p>
            <p class="code" id="dbAccess">$conn = mysqli_connect("{{self.db_ip}}","admin","password");</p>
        </div>
        <br>
    </div>
    <div class="placeholderXss" style="display:none">
        <button class="accordion">Web Access</button>
        <div class="panel">
            <p>Anda dapat mengakses web app XSS pada link berikut:</p>
            <p id="webAccess"><a href="" target="_blank">Click me!</a></p>
        </div>
        <br>
    </div>
    
    {% else %}
    <iframe class="iframe" style="width:100%; height:470px; border: 1px solid black;" src="{{self.container}}" ></iframe>
    <br><button class="create-lab" disabled>Start Lab!</button>
    <button class="stop-lab">Stop Lab!</button>

    {% if image_name == 'sqli' %}
    <div class="placeholderSqli">
        <br>
        <button class="accordion">Web & PhpMyAdmin Access</button>
        <div class="panel">
            <p>Anda dapat mengakses web app SQLi dan PhpMyAdmin pada link berikut:</p>
            <p id="webAccess"><a href="{{self.extra_link}}" target="_blank">Web App</a></p>
            <p id="phpAccess"><a href="{{self.extra_link_2}}" target="_blank">PhpMyAdmin</a></p>
        </div>
        <button class="accordion">SSH Access to defender (web app)</button>
        <div class="panel">
            <p>Anda dapat SSH ke server web dengan perintah berikut dengan password "password":</p>
            <p class="code" id="sshAccess">$ ssh defender@{{self.ssh_ip}}</p>
        </div>
        <button class="accordion">DB Configuration</button>
        <div class="panel">
            <p>Anda dapat mengganti konfigurasi DB pada file /var/www/html/config.php dengan:</p>
            <p class="code" id="dbAccess">$conn = mysqli_connect("{{self.db_ip}}","admin","password");</p>
        </div>
        <br>
    </div>
    {% elif image_name == 'xss' %}
    <div class="placeholderXss">
        <button class="accordion">Web Access</button>
        <div class="panel">
            <p>Anda dapat mengakses web app XSS pada link berikut:</p>
            <p id="webAccess"><a href="{{self.extra_link}}" target="_blank">Click me!</a></p>
        </div>
        <br>
    </div>

    {% endif %}
    {% endif %}

    <div class="progressbar"></div>

</div>